<% if signed_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script>
      window.images = {
      dale_redcorn: "<%= asset_path("dale_redcorn.png")%>"
    }
</script>

<main id="root"></main>

