.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.modal-child {
  background-image: url(https://cdn-images-1.medium.com/max/900/1*Cs2lqW1GyoPdYqs1U0Xudg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: -1px 1px 5px 5px rgba(184, 184, 184, 0.75);
  width: 900px;
  height: 550px;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  // right: 50%;
  // bottom: 50%;
  position: fixed;
  border-radius: 4px;
}
