.navBar-l1 {
  display: flex;
  align-items: center;
  height: 65px;
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.4);
}

.login-signup {
  height: 30%;
}

.logo {
  display: block;
  font-size: 36px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5m;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  font-weight: bold;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  padding-left: 120px;
  cursor: pointer;
}
.create-user-l1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-user-l1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  left: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.session-title {
  font-family: medium-marketing-display-font, Georgia, Cambria,
    "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-decoration: none !important;
  text-align: center;
}

.user-info-l1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

// .header-link{
//  color: black;
//   text-decoration: none;
//      display: block;
//     font-size: 2em;
//     margin-block-start: 0.67em;
//     margin-block-end: 0.67em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     font-weight: bold;
// }
.login-b {
  font: inherit;
  border: 0;
  color: #03a87c;
  cursor: pointer;
  padding: 10;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
}

.signup-b {
  font: inherit;
  color: #03a87c;
  border: 1px solid #03a87c;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.create-user-input {
  text-align: center;
  width: 290px;
  height: 34px;
  padding: 0px 5px;
  border: none;
  background: none;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.68);
  font-size: 17px;
}

.login-input {
  text-align: center;
  width: 290px;
  height: 34px;
  padding: 5px 5px;
  border: none;
  background: none;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.68);
  font-size: 17px;
}

.session-submit {
  background: rgba(0, 0, 0, 0.84);
  border-color: rgba(0, 0, 0, 0.84);
  color: rgba(255, 255, 255, 0.97);
  height: 37px;
  padding: 0px 18px;
  margin: 15px 0px;
  line-height: 37px;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: bottom;
  font-weight: 100;
}

.switch-to-login-form {
  margin-left: 5px;
  color: #03a97d;
  border: 0;
  font-size: 14px;
}

.opposite-modal {
  margin-left: 5px;
  color: #03a97d;
  border: 0;
}

.nav-buttons {
  position: absolute;
  top: 16px;
  right: 140px;
}

.login-errors {
  list-style: none;
  color: red;
}

.logout-button {
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  padding-top: -10px;
  border-radius: 4px;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.demo-button {
  background: rgba(0, 0, 0, 0.84);
  border-color: rgba(0, 0, 0, 0.84);
  color: rgba(255, 255, 255, 0.97);
  height: 37px;
  padding: 0px 18px;
  margin: 15px 0px;
  line-height: 37px;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: bottom;
  font-weight: 100;
}

.switch-form {
  margin-left: 5px;
  color: #03a97d;
  border: 0;
  font-size: 14px;
}

a {
  cursor: pointer;
}
