.bottom-container {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  margin-top: 40px;
  justify-content: space-between;
}
.bottom-left-items {
  width: 95%;
}

.bottom-left-story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 140px;
  width: 100%;
}

.bottom-left-story > img {
  margin: 0px 0px 10px 50px;
}

.bls-text {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.main {
  height: 100%;
}
.bottom-left-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.bottom-left-preview {
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 20px;
}

.bottom-left-author {
  margin: 0;
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: none;
}

.bottom-left-pic {
  height: 120px;
  width: 150px;
  object-fit: cover;
  margin-left: 100%;
  margin-top: 50px;
}

.bottom-right-container {
  top: 0;
  margin: 0 30px 0 auto;
  height: fit-content;
  width: 284px;
  font-family: "Open Sans", Arial, sans-serif;
}
