.popular-stories-container{
    width: 30%;
     margin-left:800px;
     font-family:  'medium-content-sans-serif-font';
     padding:50px; 
}

.popular-title{
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.popular-header{
    margin: 30px, 30px, 30px, 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    font-weight: 600;
    font-size: 20px;
    text-decoration: none; 
    color: black;
}

.popular-author{
     margin-bottom: 4px;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none; 
    color: black;
}