.bottom-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 60px;
    font-family: medium-content-sans-serif-font,
    "Lucida Grande","Lucida Sans Unicode",
    "Lucida Sans",Geneva,Arial,sans-serif;
    color: black;
}

// .bottom-left{
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 40px
// }
.popular-stories-container{ 
    width: 50%;
    
}
.popular-story{
     display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 40px;
}
    // font-style: italic;
.popular-header{
    margin: 30px, 30px, 30px, 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    font-weight: 600;
    font-size: 20px;
    text-decoration: none; 
    color: black;
    // margin-top: 20px;
}

.popular-author{
     margin-bottom: 4px;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none; 
    color: black;
    font-style: italic;
}

.popular-pic{
   width: 150px;
    height: 150px;
    position: relative;
    object-fit: cover;
    margin-left: 30px;
    margin-top: 50px;
}

.popular-title{
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popular-preview{
      margin: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 20px;
}

.bototm-left-story{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    allign-items: stretch; 
}

.popular-body{
    margin-top: 50px;
}

