.top-feed-container{
    display: flex; 
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    margin-bottom: 0px;
    font-family:  'medium-content-sans-serif-font'; 
}


.top-left{
    width: 30%;
    margin-right: 20px;
}

.top-right{
    width: 30%;
}
.top-middle{
        width: 20%;
    margin-right: 40px;
}

.left-top-feed-title{
    margin: 15px 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.right-top-feed-title{
    margin: 15px 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.middle-top-feed-title{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}

.left-top-feed-preview{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none; 
    color: black;
}
.right-top-feed-preview{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none; 
    color: black;
}
.middle-top-feed-preview{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none; 
    color: black;
}

.top-left-pic{
    width: 80%;
    // height: 100%;
    border-left: 2px solid rgb(300, 300, 300);
    // border-right: 2px solid rgb(200, 230, 200);
    border-right: 2px solid rgb(200, 230, 200);
    color: rgb(110, 110, 110);
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10%;
}

.top-left-author{
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.top-middle-pic{
    width: 200px;
    height: 100%;
    border-left: 2px solid rgb(200, 230, 200);
    // border-right: 2px solid rgb(200, 230, 200);
    border-right: 2px solid rgb(200, 230, 200);
    color: rgb(110, 110, 110);
    padding-left: 20px;
}

.top-right-pic{
    width: 200px;
    height: 100%;
    border-left: 2px solid rgb(200, 230, 200);
    // border-right: 2px solid rgb(200, 230, 200);
    border-right: 2px solid rgb(200, 230, 200);
    color: rgb(30, 30, 30);
    padding-left: 40px;
    padding-right: 5px;
}