

.home-container{
 font-family: medium-content-sans-serif-font,
    "Lucida Grande","Lucida Sans Unicode",
    "Lucida Sans",Geneva,Arial,sans-serif;
    color: black;
}

.top-feed-container{
     display: flex; 
    justify-content: space-between;
    width: 90%;
    padding: 35px;
    height: 28%;
    margin-bottom: 30px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
     
}

.top-left{
    width: 38%; 
    padding-left: 25px;
}

.top-middle-container{
    width: 30%;
    // height: 28%
     padding-left: 5px;

}

.top-middle{
    display: flex;
     margin-bottom: 5px;
     margin-right: 20px;
}

.top-right{
    width: 30%;
    margin-left: 20px;
}

.top-left-pic{
     height: 170px; 
    object-fit: cover;
    margin-bottom: 14px;
    overflow: hidden;
    width:85%;
}

.top-left-body, .top-right-body{
 display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.top-middle-pic{
    width: 120px;
    height: 120px; 
    object-fit: cover;
    margin-right: 24px;
    margin-top: 2px;
    overflow: hidden;
}

.top-right-pic{
      height: 170px; 
    object-fit: cover;
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
}

.top-left-story{
    margin-left: 36px;
    // vertical-align: column;
    width: 70%;
    
    
     
}

 .top-middle-title, .top-right-title, {
      margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    // text-decoration: bold;
    // margin-bottom: px;
    
}

.top-left-title{
     margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

.top-left-preview, .top-middle-preview, .top-right-preview{
    margin: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 20px;
    
}
.top-left-author, .top-middle-author, .top-right-author{
    margin: 0;
    font-size: 13px;     
    margin-bottom: 10px;
    text-decoration: none; 

}

// .middle-body{
//     width: 70%;
// }

a{
text-decoration: none;
color: black;
letter-spacing: 0.2px;
}