$light-gray: #e0e0e0;

.home-container {
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  color: black;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .divider {
    max-width: 1200px;
    border-color: $light-gray;
    background-color: $light-gray;
    color: $light-gray;
    border-top: none;
    margin: auto;
    width: 100%;
  }
}
.top-container {
  display: flex;
  height: 70%;
}

.top-feed-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 35px;
  height: 480px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: black;
  margin-right: 25px;
  margin-left: 25px;
}

.top-left {
  width: 38%;
  padding-left: 45px;
  margin-right: 0px;
}

.top-middle-container {
  width: 30%;
  // height: 28%
  margin-right: 0px;
  margin-left: 0;
}

.top-middle {
  display: flex;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
}

.top-right {
  width: 30%;
  margin-left: 20px;
}

.top-left-pic {
  height: 210px;
  object-fit: cover;
  margin-bottom: 14px;
  overflow: hidden;
  width: 90%;
  // height
}

.top-left-body,
.top-right-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 60%;
}

.top-middle-pic {
  width: 100px;
  height: 110px;
  object-fit: cover;
  margin-right: 24px;
  // margin-top: px;
  overflow: hidden;
  margin-bottom: 2px;
}

.top-right-pic {
  height: 170px;
  object-fit: cover;
  margin-bottom: 14px;
  overflow: hidden;
  width: 100%;
}

.top-left-story {
  margin-left: 46px;
  // vertical-align: column;
  width: 80%;
}

.top-middle-title,
.top-right-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  // text-decoration: bold;
  // margin-bottom: px;
}

.top-left-title {
  margin-top: 0;
  font-size: 22px;
  font-weight: bold;
}

.top-left-preview,
.top-middle-preview,
.top-right-preview {
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 20px;
}
.top-left-author,
.top-middle-author,
.top-right-author {
  margin: 0;
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: none;
}

.avi {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;

  .home-container {
    height: 100%;
  }

  .top-right-story {
    position: absolute;
    padding-left: 50%;
    width: 20%;
  }

  .a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.4px;
  }
}
