$light-gray: #e0e0e02f;
.bottom-container {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin-top: 60px;

  .divider {
    margin-top: 0px;
    position: absolute;
    max-width: 1410px;
    border-color: gray;
    background-color: rgba(128, 128, 128, 0.034);
    color: gray;
    border-top: none;
    // margin: auto;
    width: 100%;
    margin-bottom: 200px;
    // margin-left: 80px;
    // height: 100%;
  }
}
