.comment-body{
    font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  width: 500px;
  height: 200px;
  font-size: 20px;
  line-height: 1.6;
  border: none;
  text-indent: 5px;
  text-decoration: none;
  resize: none;
}