.nav-bar-container {
  height: 65px;
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.4);
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

.nav-bar-logo {
  font-size: 26px;
  font-weight: bold;
  font-family: "Playfair Display", Georgia, serif;
  margin-left: 40px;
}

.nav-bar-btn-group {
  display: flex;
  align-items: center;
}

.nav-bar-btn {
  width: 104px;
  height: 35px;
  border-radius: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: white;
  border: none;
  color: gray;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

$size: 40px;
.nav-bar-avi {
  width: 104px;
  height: 35px;
  border-radius: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: white;
  border: none;
  color: #03a97d;
  align-items: center;
}

.default {
  background-color: white;
}

.primary {
  background-color: green;
  color: white;
}
