$light-gray: #e0e0e0;
.home-container {
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  color: black;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .divider {
    border-color: $light-gray;
    background-color: $light-gray;
    color: $light-gray;
    border-top: none;
    margin: auto;
    width: 100%;
    margin-bottom: 0px;
  }
}
.top-container {
  display: flex;
  height: 15%;
  margin-bottom: 5px;
}

.top-left-pic {
  height: 190px;
  object-fit: cover;
  margin-bottom: 16px;
  width: 100%;
  margin-left: 10px;
  margin-right: 80px;
}

.top-left-body,
.top-right-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 60%;
}

.top-middle-pic {
  width: 120px;
  height: 140px;
  object-fit: cover;
  margin-right: 24px;

  overflow: hidden;
  margin-bottom: 10px;
}

.top-right-pic {
  height: 200px;
  object-fit: cover;
  margin-bottom: 14px;
  overflow: hidden;
  width: 90%;
}

.top-left-story {
  margin-left: 46px;

  width: 100%;
}

.top-middle-title,
.top-right-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.top-left-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.top-left-preview,
.top-middle-preview,
.top-right-preview {
  margin: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.6;
}
.top-left-author,
.top-middle-author,
.top-right-author {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

.home-container {
  height: 100%;
}

.a {
  text-decoration: none;

  letter-spacing: 0.6px;
}

.top-feed-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 90px;
  margin-right: 90px;
  height: 50%;
}

.top-left {
  max-width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.top-middle {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  margin-left: 50px;
}

.top-right {
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
  align-items: center;
  max-width: 30%;
}

.top-left-story {
  align-content: center;
  margin-right: 20px;
  max-width: 70%;
  align-items: center;
}

.top-middle-story {
  margin-top: 20px;
}

.top-middle-author {
  padding-top: 8px;
  padding-bottom: 2px;
}

.top-left-read {
  margin-top: 8px;
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.top-middle-read {
  margin-top: 4px;
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}

.top-right-read {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}
